html,body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;
}
body,input,textarea,select{
    font-family: Verdana,Geneva,sans-serif;
}
body{
    display: block;
}
html{
    overflow-y:scroll;
    overflow-x: hidden
}
*,*::before,*::after{
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}
body{
    color:#A5A6AA;
    background-color:#1C1D21;
}
.row0{
    color:#474747;
    background-color: #F4F4F4;
}
.wrapper{
    display:block;
    position:relative;
    width:100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}
#topbar{
    padding: 20px 0;
    font-size: .8rem;
    text-transform: uppercase;
}
.hoc{
    display:block;
    margin:0 auto;
    max-width:90%;
}
.f1_left, .img1{
    float:left;
}
.nospace{
    margin: 0;
    padding: 0;
    list-style:none;
}
ul{
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#topbar ul li{
    display:inline-block;
    margin-right:15px;
}
li{
    text-align:-webkit-match-parent;
}
#topbar i{
    line-height: normal;
}
.rgtspace-5{
    margin-right: 5px;
}
.fa, .fas{
    font-weight: 900;
}
.fa, .fab, .fa1, .far, .fas{
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style: normal;
    font-variant:normal;
    text-rendering: auto;
}